<div class="container">
    <!-- chat dialog -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Chat Panel</div>
                <div class="panel-body" style="min-height:500px;">
                    <p>Tom said: Hello!</p>
                    <p class="pull-right">Hello! :Tom said</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!-- submit button -->
    <div class="row">
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Please type your guy words..."></input>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default">Submit</button>

        </div>
    </div>
</div>