<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="bs-callout bs-callout-info">
                <h4>Requires JavaScript alert plugin</h4>
                <p>For fully functioning, dismissible alerts, you must use the.</p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="userNameInput">Password</label>
                    <input type="password" class="form-control" id="userNameInput" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>